:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --negro: #000000;
    --gris: #aba8a8;
    --letra: #17af66;
    --fondo: #ffffff;
    --rojo: #9f2207;
}

/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    
    font-size: 1.6rem;
    line-height: 1.8;
}

img {
    width: 100%;
    height: 40rem;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2rem;
}

p, a {
    font-family: var(--fuenteParrafos);
}

.contenedor {
    width: 100%;
    max-width: 145rem;
}

.centrar-texto {
    text-align: center;
    text-transform: uppercase;
}

/* HEADER */
.header {
    background-color: var(--negro);
}

.header h3 {
    margin: 0;
}

.header .navegacion {
    padding-bottom: 1rem;
}

/* IMAGENES */
@media (min-width: 768px) {
    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }        
}

/* NAVEGACION */
.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra a {
    text-decoration: none;
    color: var(--rojo);
    margin: 0 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 2rem;
    }

    .barra a {
        text-decoration: none;
        color: var(--rojo);
        margin: 0 1rem;
    }
}

.navegacion {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

@media (min-width: 768px) {
    .navegacion {
        gap: 2rem;
    }
}

/* TARIFAS */
.contenido-tarifas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contenido-tarifas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 7rem;
    }
}

@media (min-width: 900px) {
    .contenido-tarifas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem 0 2rem 12rem;
    }
}

.contenedor-tarifa {
    text-align: center;
    width: 30rem;
    background-color: var(--gris);
    border-radius: 3rem;
    margin: 1rem 0;
}

.contenedor-tarifa h3 {
    margin: 1rem;
}
/* FOOTER */
.footer {
    background-color: var(--negro);
}

.footer h3 {
    margin: 0;
    text-align: center;
}

.footer h5 {
    color: var(--rojo);
    margin: 0;
    padding: 2rem;
}

.footer .navegacion {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.footer p {
    color: var(--rojo);
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .footer p {
        color: var(--rojo);
        margin: 0;
        text-align: start;
    }

    .footer .navegacion {
        padding-bottom: 14rem;
    }

    .footer h3 {
        text-align: start;
    }
}

/* TABLA HORARIOS */
td {
    border: 1px solid black;
    text-align: center;
}

.tabla {
    background-color: var(--gris);
    font-family: var(--fuenteParrafos);
    margin: 2rem auto;
}



/*
********************************************************
Estilo Rafa
********************************************************
*/

/*
********************************************************
******************LOGIN*********************************
********************************************************
*/

/*Nuevooooooo*********/


.mid_box{
    background-color: var(--fondo);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -15rem;


}


.mid_box .form{
    
    height: 600px;
    width: 600px;
    background: linear-gradient(var(--negro),rgb(193, 8, 8));
    border-radius: 15px;
    
}
.mid_box .form{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}


.mid_box .form .grupo input[type=email]{
    margin-top: 5rem ;
    width: 35rem;
    padding: 20px;
    background-color: transparent;
    border: none;   
    border-bottom: 2px solid var(--fondo);
    color: white;
    outline: none;
    font-size: 2rem;
}

.mid_box .form .grupo input[type=password]{
    width: 35rem;
    padding: 20px;
    background-color: transparent;
    border: none;   
    border-bottom: 2px solid var(--fondo);
    color: white;
    outline: none;
    font-size: 2rem;
}

.mid_box .form .botones_login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35rem;
    margin-top: 15rem;
    
}

.mid_box .form .botonera{
    background: transparent;
    background-color: #eba197;
    border-radius: 6px;
    font-size: 20px;
    border-style: none;
    -webkit-transition-duration: 0,4s;
    transition-duration: 0.4s;
    text-transform: uppercase;
    padding: 25px;
}

.mid_box .form .botonera:hover{
    background-color: aliceblue;
    color: black;
}

.mid_box .form #enlace_Login{
    text-decoration: none;
    color: var(--negro);
}

.avisos_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.alerta {
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
}

.alerta.error {
    background-color: rgb(208, 18, 18);
    color: var(--blanco);
}






















